<div class="content">
<h1> Welcome, <%= @user.name %> </h1>

<h3> Heres some stats about your account </h3>
<h3>You have <%= @user.wines.count %> Bottles in your collection. </h3>

<%= link_to "See your Wines", wines_path %>  &nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "See your Wine Types", types_path%>
</div>
