<h1> Welcome to Digital Wine Cellar </h1><br>
<p> Use this site to manage your growing wine collection!</p>
<p> Features include:
  <ul>
    <li>Save and edit wine collection</li>
    <li>Categorize bottles by name and type</li>
    <li>Mark off bottles you have drank</li>
  </ul><p>
    <br>
    <br>

<%= link_to "Sign Up", new_user_path %>  &nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "Sign In", signin_path%>

<br><br>

<%= link_to('Log in with GitHub!', '/auth/github') %>
