<h1> Wine Collection </h1>

<ul>
<% @wines_corked.each do |wine| %>
<% if current_user.wines.include?(wine) %>
<li> <%= link_to "#{wine.name}", wine_path(wine) %> </li><br>
  <%end%>
<%end%>
</ul>

<h1> Wines Drank </h1>

<ul>
<% @wines_drank.each do |wine| %>
  <% if current_user.wines.include?(wine) %>
  <li> <%= link_to "#{wine.name}", wine_path(wine) %> </li><br>
  <%end%>
<% end %>
</ul>
