<h1> Wine Collection </h1>

<ul>
<% @wines_corked.each do |wine| %>

<li> <%= link_to "#{wine.name}", wine_path(wine) %> </li><br>

<%end%>
</ul>

<h1> Wines Uncorked </h1>

<ul>
  <% @wines_drank.each do |wine| %>

  <li> <%= link_to "#{wine.name}", wine_path(wine) %> </li><br>

  <%end%>

</ul>
